name: Security

permissions:
  issues: write
  checks: write

on:
  schedule:
    - cron: "0 0 1,15 * *"
  pull_request:
    branches: [ "main" ]
  push:
    paths: 
      - '**/Cargo.toml'
      - '**/Cargo.lock'
jobs:
  security_audit:
    name: Audit
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: Generate Cargo.lock
        run: cargo check
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  cargo-deny:
    name: Cargo Deny
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: EmbarkStudios/cargo-deny-action@v2